* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 200px;
  height: 40px;
  margin: 6px 0;
  font-size: x-large;
  border-radius: 14px;
}
body {
  background-color: blue;
}
main {
  position: relative;
  margin: auto;
  width: 93vw;
  height: 100vh;
  background-color: rgb(108, 144, 168);
  display: flex;
}
.player {
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player h1 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 15%;
  margin-bottom: 4%;
}
.player > p {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 35%;
}

.current-score {
  font-size: 25px;
  font-weight: 700;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 7px;
}

.info-card {
  position: absolute;
  top: 10vh;
  left: 37.5vw;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.dice {
  width: 120px;
  height: 120px;
  background-color: aliceblue;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  overflow: hidden;
}
.img-dice {
width: 100%;
height:  100%;
object-fit: cover;
}
.won-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.won-section p {
  font-size: xx-large;
  font-weight: 900;
  color: aliceblue;
}
.score-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 6px 0;
  font-size: x-large;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.74);
  height: 45px;
}

.current-player{
  background-color: rgb(9, 240, 9);
}